body {
    background-color: rgb(147, 187, 145);
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 50px;
}

h1 {
    margin: 50px;
    text-align: center;
}

h3 {
    text-align: center;

    margin: auto;
}
form {
    background-color: rgb(42, 62, 41);
    box-shadow: 2px 2px 5px black;
    width: 300px;
    height: 200px;
    margin: 30px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
    background-color:  rgb(147, 187, 145);
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}